div.productmatrix {
	width:200px;
}

table.pvmproduct {
	border: solid 1px #000;
	margin-right: 2px;
	float: left;
	width:200px;
}

table.pvmproduct tr.pvmtoplevel td,
table.pvmproduct tr.pvmaffected td {
	border-top: 1px solid #888;
}

table.pvmproduct tr.pvmchild td {
	border-top: 1px solid #aaa;
}

table.pvmproduct tr.pvmexpanded td:first-child {
	background: #c8c8e8 url('plugin_file.php?file=ProductMatrix/collapse.png') no-repeat;
	background-position: 4px 50%;
	padding-left: 15px;
}

table.pvmproduct tr.pvmcollapsed td:first-child {
	background: #c8c8e8 url('plugin_file.php?file=ProductMatrix/expand.png') no-repeat;
	background-position: 4px 50%;
	padding-left: 15px;
}

table.pvmproduct tr.pvmstatusrow td.pvmdepth1 {
	background-position: 15px 50%;
	padding-left: 26px;
}

table.pvmproduct tr.pvmstatusrow td.pvmdepth2 {
	background-position: 26px 50%;
	padding-left: 37px;
}

table.pvmproduct tr.pvmstatusrow td.pvmdepth3 {
	background-position: 37px 50%;
	padding-left: 48px;
}

table.pvmproduct tr.pvmstatusrow td.pvmdepth4 {
	background-position: 48px 50%;
	padding-left: 59px;
}

table.pvmproduct tr.pvmstatusrow td.pvmdepth5 {
	background-position: 59px 50%;
	padding-left: 70px;
}

.PVMreleased {
	background: #DFD;
}

.PVMobsolete {
	background: #FDD;
}

