div.productmatrix {
}

table.pvmproduct {
	border: solid 1px #000;
	margin-right: 2px;
	float: left;
}

table.pvmproduct tr.pvmtoplevel td,
table.pvmproduct tr.pvmaffected td {
	border-top: 1px solid #888;
}

table.pvmproduct tr.pvmchild td {
	border-top: 1px solid #aaa;
}

.PVMreleased {
	background: #DFD;
}

.PVMobsolete {
	background: #FDD;
}

