div.productmatrix {
}

table.pvmproduct {
	border: solid 1px #000;
	margin-right: 2px;
	float: left;
}

table.pvmproduct tr.pvmtoplevel td,
table.pvmproduct tr.pvmaffected td {
	border-top: 1px solid #888;
}

table.pvmproduct tr.pvmchild td {
	border-top: 1px solid #aaa;
}

table.pvmproduct tr.clickable td:first-child {
	background: #c8c8e8 url('/workspace/mantisbt/plugin_file.php?file=ProductMatrix/collapse.png') no-repeat;
	background-position: 3px 50%;
	padding-left: 15px;
}

table.pvmproduct tr.pvmcollapsed td:first-child {
	background: #c8c8e8 url('/workspace/mantisbt/plugin_file.php?file=ProductMatrix/expand.png') no-repeat;
	background-position: 3px 50%;
	padding-left: 15px;
}

.PVMreleased {
	background: #DFD;
}

.PVMobsolete {
	background: #FDD;
}

